@{
    Layout = null;
}

<i class="fa fa-bars openbtn" onclick="openNav()" aria-label="Toggle sidebar"></i>

<div id="mySidebar" class="sidebar" style="background: #34495e">
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li style="text-align:right" class="nav-active">
                        <i class="fa fa-bars openbtn" onclick="closeNav()" aria-label="Toggle sidebar"></i>
                    </li>
                    <li class="nav-active">
                        <a href="../ExamenCliente/Index">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>CASA</span>
                        </a>
                    </li>
                    <li class="nav-active">
                        <a href="../ExamenCliente/TablaUsuarios">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span>LISTA DE USUARIOS</span>
                        </a>
                    </li>
                    <li class="nav-active">
                        <a href="../ExamenCliente/AgregarUsuarios">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            <span>AGREGAR NUEVO USUARIO</span>
                        </a>
                    </li>

                </ul>
                <br /><br /><br />
            </nav>


        </div>

    </div>
</div>
